
.flip-container {
    perspective: 1000px;
    width: 200px;
    height: 200px;
    transform: translate(630px, 70px);
}
.flipper {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.6s;
}
.flipper .front, .flipper .back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}
.flipper .front {
    z-index: 2;
    transform: rotateY(0deg);
}
.flipper .back {
    transform: rotateY(180deg);
}
.flipper.flipped {
    transform: rotateY(180deg);
}

input[type=text], select {
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    transform: translate(100px, 70px);

}

#hintText {
    display: none;
    opacity: 0;
    transition: opacity 0.5s ease;
    margin-top: 10px;
    padding: 10px;

    border-radius: 5px;
}